.addForm {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 35%;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 35%;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 5px 8px 20px;
}
.headings {
  padding: 0 0 1rem 0;
}
.formHeading {
  color: #54bab9;
  font-size: 18px;
  text-align: center;
}
.formSubHeading {
  color: #54bab9;
  font-size: 12px;
  text-align: center;
}
.firstSection {
  display: block;
  width: 100%;
}
.formData {
  display: flex;
  gap: 30px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0 0 0;
}
.inputData {
  border: 1px solid #54bab9;
  margin: 0 0 20px 0;
  width: 100%;
}

.female,
.male {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}
.gender {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.date,
.address {
  border: 1px solid #54bab9;
}
.saveBtn,
.cancelBtn {
  background-color: #ffff;
  width: 80px;
  height: 35px;
  border: 1px solid #54bab9;
  font-size: 14px;
}
.saveBtn:hover {
  background-color: #54bab9;
  color: #ffff;
}
.cancelBtn:hover {
  background-color: #54bab9;
  columns: #ffff;
}
@media (max-width: 700px) {
  .formData {
    display: block;
  }
  .addForm {
    width: 80%;
    margin: 0 auto;
    top: 15%;
    left: 8%;
  }
}
