.patientDataIntegrate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.tableHeading {
  padding: 1rem 0 0 1rem;
  font-size: 22px;
}

.addPatient {
  border-radius: 20px;
  padding: 10px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  background-color: #54bab9;
}
.edit,
.delete {
  border: none;
  margin: 0 1rem 0 0;
  width: 50%;
  height: 45%;
  border-radius: 20px;
}
